streamlit
pandas
requests
plotly
numpy
folium
streamlit-folium
streamlit-lottie
geopy
h5py 
netCDF4 
xarray 
earthaccess
matplotlib
langchain
langchain_community
scipy
xarray 
netCDF4
python-dotenv